/* import from google work sans  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,700&display=swap');

/* shared styles */
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

section {
    margin-bottom: 100px;
}

.general-text {
    color: #3C354F;
    font-size: 1.15rem;
    font-weight: 500;
}

.heading-text {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

.cursor {
    cursor: pointer;
}

.btn-primary {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 15px 30px;
    border: none;
    border-radius: 48px;
    background-color: #FF42A5;

}

.btn-secondary {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 15px 30px;
    border: none;
    border-radius: 48px;
    background-color: #4EC5F7;
}

/* --------------------- */

/* header section styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav a {
    text-decoration: none;
}

nav li {
    list-style: none;
}

.website-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.website-logo img {
    width: 86px;
    height: 40px;
}

.first-letter {
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-tabs {
    display: flex;
    gap: 35px;
    align-items: center;
    justify-content: center;
}

.follow-us {
    display: flex;
    width: 9.5rem;
    padding: 5px 5px;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* --------------------- */

/* banner section styles */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.banner-text-side {
    align-items: center;
    text-align: center;
}


.banner div {
    width: 100%;
}

.banner-img-side img {
    width: 100%;
}

section h3 {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}

section h1 {
    text-align: center;
    font-size: 5.9rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

section p {
    align-items: center;
    color: #534C64;
    font-size: 1.15rem;
    font-weight: 500;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* ---------------------------*/

/* online games section styles */
.online-game-section {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.online-game-section>span {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 10px 0 35px;
    display: inline-block;
}

.text-color {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.games-main-div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    text-align: left;
}

.games-main-div>div {
    width: 25%;
}

.games-img-main {
    position: relative;
    margin-bottom: 24px;
}

.games-content img {
    width: 100%;
    margin-bottom: -2px;
}

.games-img-sub {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0.6) 100%);
    width: 100%;
    height: 100%;
    border-radius: 15px;
    opacity: 0;
    transition: all 0.3s linear;
    border: 4px solid #ff42a5;
}

.games-img-main:hover .games-img-sub {
    opacity: 1;
}

.games-img-sub img {
    color: white;
    font-size: 30px;
}

.games-img-sub>span {
    color: #ff42a5;
}

/* ----------------------------- */

/* play instantly section styles */
.play-instantly-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.play-instantly-section>div {
    width: 50%;
}

.play-instantly-texts {
    text-align: center;
}

.instantly-img-div {
    display: flex;
    justify-content: end;
    position: relative;
}

.instantly-img-div .instantly-img-main {
    max-width: 100%;
}

.instantly-img-div .instantly-img-sub {
    max-width: 200px;
    position: absolute;
    bottom: -80px;
    left: -40px;
}

/* ------------------------- */

/* game chose section styles */
.game-section {
    margin-bottom: 80px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    text-align: center;
    justify-items: center;
    align-items: center;
}

.common {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 2px;
}

.common img {
    width: 20%;
}

.common:hover {
    border: 1.5px solid #FF42A5;
    border-radius: 50px;
}

.common-p:hover {
    color: #FF42A5;
}

.game-text {
    font-size: 1.25rem;
    font-weight: 600;
}

/* ---------------------- */

/* footer section styles */
footer {
    background: #0B0223;
}

.footer-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer-heading-text {
    font-size: 3rem;
    font-weight: 700;
    color: #FFF;
}

.footer-p {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.color {
    color: #FFF;
}

.footer-icons {
    text-align: center;
}

.footer-icons a {
    text-decoration: none;
}

.footer-p2 {
    text-align: center;
}

.footer-p3 {
    text-align: center;
}

/* ----------------------- */

.hide {
    display: none;
}

/* ----------------------- */

/* Responsive media query  */

/* for mobile screens */
@media screen and (max-width: 425px) {

    nav,
    .nav-tabs,
    .banner,
    .games-main-div,
    .play-instantly-section {
        flex-direction: column;
    }

    .nav-tabs {
        margin-top: 10px;
    }

    .banner {
        padding-left: 5px;
        padding-right: 5px;
    }

    .banner div {
        width: 100%;
    }

    .banner-text-side {
        align-items: center;
        text-align: center;
    }

    .btn {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-bottom: 5px;
    }

    .games-main-div>div {
        width: 100%;
    }

    .play-instantly-section>div {
        width: 100%;
    }

    .instantly-img-div .instantly-img-sub {
        width: 30%;
        bottom: -20px;
    }

    .game-section {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .footer-p {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* ----------------- */

/* for tablet screens */
@media screen and (min-width: 425px) and (max-width: 768px) {

    nav,
    .nav-tabs,
    .banner,
    .play-instantly-section {
        flex-direction: column;
    }

    .nav-tabs {
        margin-top: 10px;
    }

    .banner {
        padding-left: 10px;
        padding-right: 10px;
    }

    .banner div {
        max-width: 100%;
    }

    .banner-text-side {
        align-items: center;
        text-align: center;
    }

    .btn {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-bottom: 5px;
    }

    .play-instantly-section>div {
        width: 100%;
    }

    .instantly-img-div .instantly-img-sub {
        width: 25%;
        bottom: -30px;
    }

    .game-section {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .footer-p {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* ------------------ */
/* for laptop screens */
@media screen and (min-width: 768px) and (max-width: 1024px) {

    nav,
    .play-instantly-main {
        padding: 10px 10px;
    }

    .play-instantly-main div {
        width: 100%;
    }

    .game-section {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}